title: QuickPar 2023
preposition: at
description: >-
  Welcome to the 1st International Workshop on Urgent Analytics for Distributed Computing
  

  Full day, August 28/29, Limassol, Cyprus (collocated with Euro-Par 2023).
baseurl: "" # the subpath of your site, e.g. /blog
url: "https://quickpar.github.io" # the base hostname & protocol for your site, e.g. https://example.com

remote_theme: "DigitaleGesellschaft/jekyll-theme-conference@v3.6.1"

plugins:
  - jekyll-include-cache

# Build settings
markdown: kramdown
sass:
  style: compressed

# Additional exclude from processing
exclude:
  - .github/
  - README.md
  - LICENSE.md
  - REDISTRIBUTED.md
  - purgecss.config.js

# Collections and their defaults
collections:
  talks:
    output: true
    permalink: /:collection/:title/
  speakers:
    output: true
    permalink: /:collection/:title/
  rooms:
    output: true
    permalink: /:collection/:title/

defaults:
  - scope:
      path: ""
      type: talks
    values:
      layout: talk
  - scope:
      path: ""
      type: speakers
    values:
      layout: speaker
  - scope:
      path: ""
      type: rooms
    values:
      layout: room


conference:

  # Language
  lang: en

  # Show theme errors:
  show_errors: false

  # Navigation bar
  navigation:
    logo:
      name: Euro-Par 23
      #img: 'europar-logo.png' # inside /assets/images/
      url: 'https://2023.euro-par.org/'
    links:
      - name: Workshop Scope
        relative_url: /scope/
      - name: Call for Papers
        relative_url: /cfp/
      - name: Commitee
        relative_url: /commitee/
      #- name: Program
      #  relative_url: /program/
      - name: Keynote
        relative_url: /talks/
      #- name: Location
      #  relative_url: /location/

  # Link Preview for Sharing
  link_preview:
    # also adapt "preposition" property at top for more meaningful descriptions
    disable: false
    img:
      twitter: 'twitter_preview.png'      # inside /assets/images/
      open_graph: 'facebook_preview.png'  # inside /assets/images/

  # Main landing page
  main:
    # logo:
    #   img: ''
    links:
      - name: Important dates
        relative_url: /cfp/
      - name: Program
        disabled: true
        absolute_url: ''

  # Information boxes
  info_bars:
    - title: Submission opens on March 24. 
      color: primary
      pages_only: true
  
  map:
    # Initial map center point
    home_coord: 34.6786, 33.0413
    # Alternative map providers can be found on https://leaflet-extras.github.io/leaflet-providers/preview/
    # The following do match the Bootstrap design not too badly:
    #   - Hydda.Full
    #   - Thunderforest.Neighbourhood
    #   - Esri.WorldTopoMap
    map_provider: "OpenStreetMap.Mapnik"
    default_zoom: 17

  talks:
    # Talk categories
    main_categories:
      - name: Keynote
        color: info
      - name: Vision talks
        color: success
      - name: Contributed talks
        color: warning

    # Hide icons on talk overview page
    hide_icons: false

  speakers:
    # Show first and last name
    show_firstname: true

  location:
    # Disable links to locations
    hide: false
    # URL of location / room overview page
    url: '/location'
    # Main page title shown on location/room navigation bar
    navbar_title: 'Location'
    # Show map on location main page
    map: false

  program:
    # URL of program page
    url: '/program'

    # Time steps in program table
    time_steps: 30 # in minutes

    # Show intermediary time steps (next to full hours)
    show_alltimes: true
